doctype html
head
    title Pug
    link(rel='stylesheet', href='css/style.css')
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 Pug - node template engine
    #container.col
        p You are amazing
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and s123ge. ddfdf ///////////////
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p Pug is a terse and simple templating language. ddfdf
        p **********************  ddffddf ddfdf
            